gmplot==1.4.1
numpy==1.20.3
pandas==1.2.4
phonenumbers==8.12.24
Pillow==9.1.1
pyperclip==1.8.2
requests==2.25.1
gnureadline>=8.0.0; platform_system != "Windows"
pyreadline==2.1; platform_system == "Windows"